<!doctype html>


<head>
    <title>Visualisation déplacement</title> 
    <meta charset=utf-8>
    
    <script type="module" src="{{ url_for('static', filename='moduletest.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mapList.js') }}"></script>
    
</head>
<body>
    <h1>Visualisation des déplacements avant le 20ème siècle</h1>        
    <section id="selectData">
        <div id ="DataScrap">
            <p>Veuillez saisir le nom ou l'url de la personne choisie</p>
            <form id="FormDataScrap" method="post" action=".">
                <p>
                    Nom : <input name="nom" type="text" placeholder="Nom">
                </p>
                <p>
                    Url : <input name="url" type="text" placeholder=" https://www.geneanet.com/...">
                </p>
                <input type="submit" value = "Recupérer les données">
            </form>
        </div>

        <div id="NavAccesMap">
            <p>Accès aux cartes déjà créées</p>
            <ul id="mapList">
                {% for item in subfolders %}
                    <a href="/{{ item }}"><li> {{ item }} </li></a>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section>
        <button><a href="/{{name}}">Afficher la carte</a></button>
    </section>
    {% if name %}
        <p>{{name}} est séléctionné(e) </p>
        <include src="./templates/map/{{name}}/Map{{name}}.html"></include>
    {%else %}
        <p>Pas de personne séléctionnée</p>
    {% endif %}
</body>