<!doctype html>


<head>
    <title>Visualisation déplacement</title> 
    <meta charset=utf-8>
    <style id="plotly.js-style-global"></style>
    <style id="plotly.js-style-modebar-aa6ffc"></style>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

    <script>
        function displaySab(){
            console.log("Ca s'exécute")
            document.getElementById("sablier").style.display = "flex";
        }
    </script>

</head>
<body>
    <div id = "titre_page">
        <h1>Visualisation des déplacements avant le 20ème siècle</h1>        
    </div>

    <div id = "interface">
        <div id = "interface_utilisateur">
            <section id="selectData">
                <div id ="DataScrap">
                    <p id = "titre_scrap">Veuillez saisir le nom ou l'url de la personne choisie</p>
                    <form id="FormDataScrap" method="post" action=".">
                        <p>
                            Nom<input required name="nom" type="text" id="nom" placeholder="Nom">
                        </p>
                        <p>
                            URL<input name="url" type="text" id="url" placeholder="https://www.geneanet.com/...">
                        </p>
                        <div id = "button_sab">
                            <input type="submit" value="Recupérer les données" onclick="displaySab()">
                            <img id = "sablier" src = "{{ url_for('static', filename='images/sablier.png') }}">
                        </div>
                    </form>
                    

                </div>

                <div id="NavAccesMap">
                    <p id = "titre_carte">Accès aux cartes déjà créées</p>
                    <ul id="mapList">
                        {% for item in subfolders %}
                            <a  href="/{{ item }}"><li> {{ item }} </li></a>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>

        <div id = "interface_carte">
            <section>
                {% if name %}
                <div id="map">
                    {% if name in subfolders %}
                    {% include './map/' + name + '/Map' + name + '.html' %}
                    {% endif %}
                </div>
                {%else %}
                    <p id = "texte_absence_carte">Veuillez sélectionner une carte à afficher</p>
                {% endif %}

            </section>
        </div>
    </div>
</body>